/********************************************
   Support HTA CSS
********************************************/

/* Classes */
/* ======================================= */
.clearing-only { clear: both; } /* DIV class for clearing left an right */
.clearing { clear: both; height: 1px; } /* DIV class for clearing left an right */
.clearing-big { clear: both; height: 5px; } /* DIV class for clearing left an right */

/* Structure */
/* ======================================= */

#container {
	height: 100%;
	width: 100%;
}

#header {
	height: 115px;
	width: 100%;
}

/*#content {
} */

/* #footer {
} */

#banner-left-image {
	height: 115px;
	margin: 0px;
	padding: 0px;
	position: absolute;
}

#banner-right-image {
	height: 115px;
	padding: 0px;
	position: absolute;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 225px;
}