/********************************************
   Support HTA CSS
********************************************/

/* Classes */
/* ======================================= */
.clearing-only { clear: both; } /* DIV class for clearing left an right */
.clearing { clear: both; height: 1px; } /* DIV class for clearing left an right */
.clearing-big { clear: both; height: 5px; } /* DIV class for clearing left an right */
.float-right { float: right; }
.float-left { float: left; }
td.info {
	font-size: 12px;
	vertical-align: top;
}
.fulltable {
	width: 740px;
}
.infotitles {
	font-weight: bold;
	font-size: 20px;
}
.subheading {
	color: #666600;
	font-weight: bold;
	text-decoration: underline;
}

.item {
	color: #666600;
	font-weight: bold;
}

.detail {
	color: #666666;
}

.error {
	color: #FF0000;
}

/* Structure */
/* ======================================= */

#container {
	height: 100%;
	width: 100%;
}

#header {
	height: 115px;
	width: 100%;
}

/*#content {
} */

#footer {
	font-size: x-small;
}

#banner-left-image {
	height: 115px;
	margin: 0px;
	padding: 0px;
	position: absolute;
}

#banner-right-image {
	height: 115px;
	padding: 0px;
	position: absolute;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 225px;
}

/* Nav Menu */
#nav-strip {
	height: 32px;
}

#nav-strip ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}


#nav-strip ul li {
	float: left;
	list-style-type: none;
	margin-right: 15px;
}


#nav-strip ul li a {
	text-decoration: none;
	line-height: 2.5em;
	color: #666666;
	font-size: 0.975em;
	font-weight: normal;
}

#nav-strip ul li a:hover {
	color: #FF6600;
}